<header>

<div class="ele1">

  <p>Flynn</p>

</div>

<div class="ele2">

  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Doc</a></li>
    <li><a href="#">bog</a></li>
    <li><a href="#">Princing</a></li>
    <li><a href="#" class="btn1">Try</a></li>
  </ul>

</div>

</header>



<main>
  <div class="haut">

    <div class="haut1">

      <p>Throw away the duct tape</p>
      <p class="h1">Say hello to Flynn.</p>

    </div>

    <div class="haut2">

      <video controls poster <source src="https://dl.flynn.io/assets/flynn_demo_2m.mp4" type="video/mp4">

      </video>

    </div>

  </div>

  <div class="mid">

    <p><a href="#"class="a1">App</a></p>
    <p><a href="#"class="a2">Manage</a></p>
    <p><a href="#"class="a3">Database</a></p>


  </div>

  <div class="bot">
    <div class="bot1">
        <p>Powerful and easy. The<br> way it should be.</p>
    </div>
    <div class="bot2">

      <p class="p1">Flynn is an open source platform (PaaS) for running applications in production.</p>
      <p class="p2">It does everything you need, out of the box:</p>

      <ul class="ul1">
        <li>Creates running applications directly from your code so there's no need to learn configuration management or build custom stacks for each app</li>
        <li>Routes and load balances traffic to every instance of each of your apps</li>
        <li>Includes built-in Postgres, MySQL, and MongoDB databases with safe, automatic high availability</li>
        <li>Connects all your microservices with built-in service discovery</li>
        <li>Makes scaling your cluster to just the right size easy so you save money on your cloud bills</li>

      </ul>


    </div>

  </div>

  <div class="bot3">

    <a href="#" class="btn2">Try Flynn now</a>

  </div>

  <div class="bot4">

    <p class="p3">Whatever you need,<br>Flynn can help.</p>
    <p class="p4">Getting apps running in the cloud is way too hard.</p>
    <p class="p5">Deployment. Ops. Databases. Containers. Configuration management. Service <br>discovery. Forget about all of them.</p>

  </div>


</main>


<footer>



</footer>
